<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5"
    *ngFor="let course of courses | paginate: {itemsPerPage: itemsPerPage, currentPage: page}">
    <div class="card h-100">
      <img class="card-image-top w-100 img-fluid" [src]="course.img" />
      <div class="card-body">
        <h3 class="card-title">{{course.name}}</h3>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a class="btn btn-block btn-primary" [routerLink]="['/udemy-coupons/course', course.id]" role="button">Ver cupones</a>
      </div>
    </div>
  </div>
</div>


